@page "/autocorrect"
@using AutoCorrect;

<h1>Autocorrect</h1>
<h3>Choose an Algorithm</h3>
<select @bind="@corrector">
    @foreach (var option in Correctors.Options)
    {
        <option value="@option.Key"> @option.Key </option>
    }
</select>

<h3>Type a Word</h3>
<input placeholder="Type a word" @bind="checkWord" />
<button @onclick="CheckInput">Check</button>

@switch (result)
{
    case SuggestedCorrections corrections:
        <h3>Did you mean?</h3>
        <ul>
            @foreach (var word in corrections.Options)
            {
                <li>@word</li>
            }
        </ul>
        break;
    case NoCorrection:
        <h3>Nice, that's a real word!</h3>
        break;
}


@code {
    private CorrectionResult? result = null;
    private string checkWord;
    private string corrector = Correctors.Options.First().Key;

    private void CheckInput()
    {
        result = Correctors.Options[corrector](checkWord);
    }
}
