@page "/"

<h1>Hello, world!</h1>

<p>I'm currently working on iterating on algorithms for implementing auto-correction, since it's a fun algorithm and tree challenge.  Navigate to the link on the side for the demo.</p>
