@using AutoCorrect;

<tr>
    <td>@Corrector.DisplayName</td>
    <td>@($"{RoundedAboveOne(Profile?.AverageSpeed)}")</td>
    <td>@($"{RoundedAboveOne(Profile?.PercentMatched)}")</td>
    <td>@($"{RoundedAboveOne(Profile?.AverageSpeedOnMatch)}")</td>
</tr>

@code {
    [Parameter]
    public Corrector Corrector { get; set; }

    public AlgorithmProfile Profile;

    protected override async Task OnInitializedAsync()
    {
        Profile = await Profiling.Profile(Corrector);
        await base.OnInitializedAsync();
    }    

    public string RoundedAboveOne(double? num){
        if(num == null)
            return "calculating";
        if(num > 1)
            return $"{(int)num}";
        return $"{num}";
    }
}
